<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.js"></script>
</head>
<body ng-app ng-init="a=true;b=false">
<p>哈哈</p>
<p>ng-if=true<span ng-if="a">哈哈 </span></p>
<p>ng-if=false<span ng-if="b">哈哈 </span></p>
<p>ng-show=true<span ng-show="a">哈哈 </span></p>
<p>ng-show=false<span ng-show="b">哈哈</span></p>
<p>ng-hide=true<span ng-hide="a">哈哈 </span></p>
<p>ng-hide=false<span ng-hide="b">哈哈</span></p>
<!--<sapn ng-false="b">哈哈</sapn>-->
<!--</p>-->
</body>
<script>
    //    angularApp.module('myApp', [])
    //            .controller('firstController',['$scope',])
</script>
</html>