/*
    父体 设置相对,overflow:hidden
*/
.slide-animate-container {
    position:relative;
    background:white;
    border:1px solid black;
    height:40px;
    overflow:hidden;
}
/*
    主体 加padding
*/
.slide-animate {
    padding:10px;
}
/*
    进入和离开
        设置过渡,以及初始状态
*/
.slide-animate.ng-enter, .slide-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:block;
    padding:10px;
}
/*
    进入时设置 -50px
*/
.slide-animate.ng-enter {
    top:-50px;
}
/*
    完成后 设置 0px
*/
.slide-animate.ng-enter.ng-enter-active {
    top:0;
}

/*离开为初始值*/
.slide-animate.ng-leave {
    top:0;
}
/*
    离开完成为设置 50px
*/
.slide-animate.ng-leave.ng-leave-active {
    top:50px;
}